nav ul{
    list-style: none;
    font-size: 2em;
    display: inline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


/*Change selection colour, because why not:*/
::selection {
  background: #0BD462;
}
